{% extends "layout.html" %}

{% block body %}
  <h3>Hakkımızda</h3>
  <hr>
  DMR Aviation, iki üniversite öğrencisi arkadaş tarafından kurulan yenilikçi bir havacılık şirketidir, 
misyonumuz geleceğin teknolojilerini kullanarak sınırları zorlamak ve havacılık alanındaki potansiyeli en üst düzeye çıkarmaktır. 
Geliştireceğimiz İHA'larla amacımız otonom uçuş teknolojileri ile bu alanda adından söz ettirecek projeler geliştirmek ve üretmektir. 
DMR İHA'ları tarım,lojistik,güvenlik gibi yakın gelecekte İHA'ların etkin olacağı alanlarda kendinden söz ettirecektir.
<br>
Ayrıca, DMR Aviation olarak sadece ticari/hobi amaçlı İHA'larla sınırlı kalmayıp kendimizi Savunma Sanayi alanında da öne çıkarmaya çalışıyoruz, şu anda bu alanda bir ürünü aktif olarak geliştirmesek de bu alanda da belli bir hacme kavuşabilmek için çalışmayı sürdürüyoruz.
  <hr>
  <h3>Who we are?</h3>
  <hr>
  DMR Aviation is an innovative aviation company founded by two university friends. Our mission is to push the boundaries and maximize the potential in the aviation field by utilizing the technologies of the future. Our goal with the drones we will develop is to create and produce projects that will make a name for themselves in the field with autonomous flight technologies. DMR drones will be talked about in areas where drones are expected to be effective in the near future, such as agriculture, logistics, and security.
    <br>
In addition, as DMR Aviation, we are not limited to just commercial/hobby drones, but we are also striving to stand out in the Defense Industry. Although we are not actively developing a product in this field at the moment, we continue to work to achieve a certain volume in this area as well.
  <hr>
{% endblock body %}